.basket{
    #t{
        display: flex;
        width: 100%;
        #r{
            flex:0 0 400px;
            border:1px solid $lightgrey;
            padding: 1em;
            margin-left: 3em;
            box-sizing: border-box;
            border-radius: $borderradius;
            height: fit-content;
            .confirm{
                margin:1em 0 2em;
                .checkbox{
                    margin:1em 0;
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                 li{
                     text-align: right;
                     border-bottom: 1px solid $lightgrey;
                     padding-bottom: .5em;
                     margin-bottom:1em;
                    ul{
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        justify-content: space-between;
                        li{
                            font-size: $fontsmall;
                            font-weight: $regular;
                            border-bottom: none;
                            margin:.15em 0;
                            color:$grey;
                         &:nth-child(odd){
                            flex-basis: 60%;
                          }
                          &:nth-child(even){
                            // font-weight: $bold;
                            flex-basis: 40%;
                          }
                          &:nth-child(5),&:nth-child(6){
                              font-size: $fontbody;
                              font-weight: $bold;
                              color:$black;
                          }
                          img{
                              width: 1em;
                              padding-right: .5em;
                              opacity: .5;
                          }  
                        }
                    }
                }
            }
            
        }
        #l{
            flex: 1;
            display: flex;
            justify-content: space-between;
            #details,#credit{
                flex: 1;
            }
            #details{
                margin-right: 1em;
            }
            #credit{
                margin-left: 1em;
            }
            .nmt{
                margin-top: 0;
            }
            .nmb{
                margin-bottom: 0;
            }
        }
    }
    #b{
        margin-top: 5em;
        
        #bp{
            li{
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid $lightgrey;
                margin:1.5em 0;
                padding: 1.5em 0 2.5em;
                
                // &:last-child{
                //     border-bottom: none;
                // }
                section{
                    flex: 25%;
                    h4{
                        margin-bottom: 0;
                        
                    }
                    
                }
                .q{
                    .space{
                        margin: 0 .5em;
                    }
                }
                .p,.d,.pp{
                    p{
                        font-size: $fontsmall;
                        margin: .25em 0;
                    }
                    
                }
                .pp{
                    .l{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        
                        img{
                            width: 1em;
                            padding:.34em .25em 0 0;
                            margin-left: -2px;
                        }
                        p{
                            display: inherit;
                        }

                        span{
                            display: flex;
                            align-items: end;
                            
                        }
                        .space{
                            padding-top: .5em;
                        }
                        
                    }
                }
            }
            #names{
                padding-bottom: .75em;

            }
        }
    }
    .pedit{
        display: initial;
    }
    .imgedit{
        width: .8em;
        display: inline-block;
    }
    .pay{
        text-align: center;
        button{
            padding: 1em 3em;
            margin: 2em 0;
        }
    }
    #us{
        border: 1px dashed $lightgrey;
        text-align: center;
        margin-top: 1em;
        p{
            padding: .5em 1rem;
            color:$grey,
        }
    }
}

.cards{
    display: flex;
    padding-top: .5em;
    img{
        width: 2em;
        margin-right: 1em;
        align-self: center;
    }
}