/// BASE-BUTTONS


// BUTTON BASICS
.btn{
    border-radius: 50px;
    border:none;
    padding: .6em .8em;
    font-size: $fontbody;
    cursor: pointer;
    font-weight: $regular;
}

.btn-primary{
    background: #f47721;
    color:white;
}

.btn-secondary{
    border:1px solid $lightgrey;
    color:$black;
    background: none;

    &:hover{
        color:$black;
         background: $lightgrey;
    }
}


// BUTTON STROKES

.btn-stroke-orange{
    border:1px solid $orange;
    color:$orange;
    background: none;
    &:hover{
         color:white;
         background: $orange;
    }
}

.btn-stroke-white{
    border:1px solid white;
    color:white;
    background: none;
    &:hover{
         color:$black;
         background: white;
    }
}

/// BUTTON SPECIALS

.btn-icon-round{
    width: 1.3em;
    border:1px solid $lightgrey;
    padding: .7em;
    border-radius: 50px;
}

/// BUTTON HELPERS

.btn-full{
    width: 100%;
}

.btn-big{
    font-size: $fontlarge;
}

.btn-small{
    font-size: $fontsmall;
}
