.forms,form{
    display: flex;
    flex-wrap: wrap;
    label{
        color:$grey;
        font-weight: $regular;
        margin-bottom: .5em;
        display: inherit;
    }
    input{
        width: 100%;
        box-sizing: border-box;
        border:1px solid $lightgrey;
        padding: .75em;
        font-size: $fontbody;
        font-weight: $regular;
        border-radius: $borderradius;
    }
}

select {
    border: 1px solid $lightgrey;
    padding: .75em;
    font-size: $fontbody;
    font-weight: $regular;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/icons/chevron-down.svg) calc(100% - 1em) / 1em no-repeat white;
  }