$widgetpadding:5em;

#fhero{
    position: relative;
    height: 90vh;
    margin-left:$navwidth;
    background: url(../img/logos/hero-dots.svg) 50% / 80% no-repeat;

    #widget{
        position: absolute;
        background: white;
        border:1px solid $lightgrey;
        left:$widgetpadding;
        bottom:$widgetpadding;
        right:$widgetpadding;
        padding: 1em;

        .forms{
            display: flex;
            justify-content: space-between;
            > li{
                padding: 0 .5em;
                flex: 1;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
            }
        }
    }
}