$widgetpadding:5em;

#fhero{
    position: relative;
    height: 90vh;
    margin-left:$navwidth;
    background: url(../img/logos/hero-dots.svg) 50% / 96% no-repeat;

    #hw{
        position: absolute;
        left:$widgetpadding;
        bottom:$widgetpadding;
        right:$widgetpadding;
        
        h1{
            color:white;
            font-size: 70px;
            font-weight: $regular;
            @media only screen and (max-width: 1100px) {
                span{
                    display: block;
                }
            }

        }
        #widget{
            background: white;
            border:1px solid $lightgrey;
            padding: 1em;
    
            .forms{
                display: flex;
                justify-content: space-between;
                > li{
                    padding: 0 .5em;
                    flex: 1;
                    &:first-child{
                        padding-left: 0;
                    }
                    &:last-child{
                        padding-right: 0;
                    }
                }
            }
        }
        button{
            margin-top: 1em;
        }
    }
}

.fp{

    h3{
        font-size: $fontlarge;
        margin-top: 0;
    }

    .fpsec{
        margin:8em 0
    }
    .btn-big{
        margin-top: 1em;
    }
    .big{
        font-size: $fontmassive;
        color: $grey;
    }
    .gethelp{
        display: flex;
        justify-content: center;
        article{
            border:1px solid $lightgrey;
            border-radius: $borderradius;
            margin: 0 1em;
            padding: 3em;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            img{
                width: 7em;
            }
            h5{
                margin:2em 0 0;
                font-weight: $regular;
                font-size: $fontbody;
            }
        }
    }
    .fpblock{
        position: relative;
        background-color: $orange;
        background-size: cover;
        background-position: top center;
        background-blend-mode: multiply;
        height: 500px;
        .meta{
            color:white;
            padding: 3em;
            p{
                width: 60%;
            }
        }
        
    }
    .img{
        display: flex;
        justify-content: center;
        
        &.left span{
            padding-left: 7em;
        }

        &.right span{
            padding-right: 7em;
        }
        img{
            width: 30%;
            align-self: center;
        }
    }
    #pfor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            margin:1em;
            flex: 1 1 calc(33% - 2em;
            &:nth-child(3n){
                margin-right: 0;
            }
            &:nth-child(3n + 1){
                margin-left: 0;
            }
            img{
                width: 100%;
            }
        }
    }
}