@supports (display: grid){

    .grid{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, auto));
        grid-gap:2em;
    }
}

ul.forms{
    display: flex;
    width: 100%;
    > li{
        padding-top: 1em;
        flex-basis:100%;
         ul{
            display: flex;
            justify-content: space-between;
            li{
                width: calc(50% - 0.5em);
            }
        }
        .three{
            li{
                width: calc(33% - 0.5em);
            }
        }

        .four{
            li{
                width: calc(25% - 0.5em);
            }
        }
        .flex{
            display: flex;
            align-items: center;
            input:first-child{
                margin-right: 1em;
            }
        }
    }

   
}
