#oh{
    > li{
        border-top:1px solid $lightgrey;
        padding: 1em 2em;
        // margin-top: 1em;
        border-radius: $borderradius;
        // &:first-child{
        //     margin:0;
        // }
            &:last-child{
                border-bottom: 1px solid $lightgrey;;
            }
        .top{
            display: flex;
            justify-content: space-between;
            cursor: pointer;
            img{
                width: 2em;
                height: 2em;
                align-self: center;
            }
            p{
                margin: 0;
                align-self: center;
            }
        }
        .inner{
            display: none;
            border-top:1px solid $lightgrey;
            margin-top:1em;
            padding-top: 1em;
            header{
                display: flex;
                justify-content: space-between;
                section{
                    flex-basis: 50%;
                    &:last-child{
                        text-align: right;
                    }
                }
            }
        }
    }
    .list{
        border-top:1px dashed $lightgrey;
        padding-top: 1em;
        li{
            margin: .25em 0;
        }
    }
}
