
#pgrid{
    height: 100vh;
    display: flex;
    

    // PROJECTS

    #p{
        background:$lightblue;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        header{
            position: relative;
            border-bottom: 1px solid $lightgrey;
            .goback{
                width: 2em;
                position: absolute;
                top:2em;
                left: 1em;
            }
            .logo{
                width: 8em;
                position: absolute;
                top:2em;
                left:50%;
                transform: translateX(-50%);
            }
            ul{
                display: flex;
                justify-content: space-around;
                padding-top: 6em;
                li{
                    border-bottom:4px solid $lightblue;
                    width: 100%;
                    padding-bottom: .5em;
                    text-align: center;
                    font-size: $fontsmall;
                    a{
                        color:$grey;
                        font-weight: $regular;
                        display: block;
                        &:hover{
                            color:$black;
                        }
                    }
                }
                .active{
                    border-bottom:4px solid $orange;
                }
                
            }
        }

        #projects{
            .sp{
                border-bottom:1px solid $lightgrey;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                padding: 1em;
                &:last-child{
                    align-items: flex-end;
                }
                .cal{
                    position: relative;
                    .daywrap{
                        position: absolute;
                        text-align: center;
                        top:14px;
                        left:2px;
                        width: 44px;
                    }
                    .day{
                        color:#abaeb0;
                        font-size: $fontmedium;
                    }
                    img{
                        width: 3em;
                    }
                }
                .name{
                    .pname,.pday{
                        padding: .3em 0 .3em 1em;
                        margin:0;
                    }
                    .pname{
                        color:$black;
                    }
                }
            }
            .open{
                background: white;
                /*padding: 1em 1em 0 1em;*/
                .popen{
                    width: 100%;
                    padding: 1em 63px 0;
                    h4,p{
                        margin:0;
                        font-size: $fontsmall;
                    }
                    p{
                        padding-bottom: 1em;
                    }
                    
                }
            }
        }
        
        #addnew{
           
            display: flex;
            align-content: center;
            flex-direction: row;
            svg{
                width: 1.5em;
                height: 1.5em;
                padding-right: 1em;
                align-self: center;
            }
        }    
    }


    // TIMELINE

    #t{
        position: relative;
        width: 400px;
        border-left:1px solid $lightgrey;
        border-right:1px solid $lightgrey;
        overflow-y: scroll;
        box-sizing: border-box;

        #timeline{
            li{
                font-size: $fontsmall;
                font-weight: $regular;
                color:$grey;
                padding-bottom: 6em;
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }

        // Might need a JS alternative or fallback- Start
        #addnew{
            position: sticky;
            bottom:0;
            background: white;
            border-top:1px solid $lightgrey;
        }
        // Might need a JS alternative or fallback- end

        #tcontent{
            position: absolute;
            width: calc(100% - 6em);
            top:0;
            left:5em;
            right:1em;
            box-sizing: border-box;
            .punit{
                position: absolute;
                border-radius: $borderradius;
                background: $plannerblue;
                color:$blue;
                padding: 1em;
                box-sizing: border-box;
            }

        }
        #addnewtimeline{
            position: fixed;
            background: $orange;
            border-radius: 50px;
            bottom:1em;
            left:calc(700px - 3em);
            img{
                width: 2em;
                padding: 1em;
            }
        }

        
    }

    // CONTENTAREA
    #c{
        flex: 1;
        overflow-y: scroll;
        #mainnav{
            ul{
                display: flex;
                li{
                    margin:0 1em;
                    h4{
                        margin: 1em 0 0;
                        padding-bottom: .5em;
                        border-bottom:4px solid white;

                        
                    } 
                }
                .active a h4{
                    border-bottom:4px solid $orange;
                }                
            }
        }
        .border{
            border-bottom: 1px solid $lightgrey;
        }

        #hero{
            margin:0;
            position: relative;
            background-size:cover;
            background-position: top center;
            height: 300px;

            .ol{
                position: absolute;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:rgba(0,0,0,.5);
                color:white;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1{
                    font-weight: $regular;
                    margin: 0;
                    padding-bottom: .5em;
                }

                p{
                    margin: 0;
                    font-size: $fontsmall;
                }
                
            }
            #settings{
                position: absolute;
                top:1em;
                right:1em;
                img{
                    width: 1.5em;
                    background: white;
                    padding: .5em;
                    border-radius: 50px;
                    opacity: .8;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }

        #emptystate{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-content: center;
            img{
                width: 10em;
            }
        }

        #overview{
            .section{
                padding: 2em 2em 0 2em;
              h4{
                 border-bottom: 1px solid $lightgrey;
                 padding-bottom: 1em;
              }
            //   Set Google Maps height
              .google-maps{
                padding-bottom: 75%;
              }
             }
           
            #budget{
                li{
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin: .5em 0;
                    }
                    p.space{
                        margin-bottom: 2em;
                    }
                }
            }
        }
    }
}

#addnew{
    padding: 1em;
    border-top: 1px solid $lightgrey;
    h4{
        text-transform: none;
    }
    .action{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 1em;
    }
}

.addnewfix{
    flex-direction: column!important;    
}




