#filters{
    display: flex;
    justify-content: space-between;
    margin:4em 0 2em;

    button{
        margin-right:.5em;
        &:last-child{
            margin: 0;
        }
    }
}

#ssearch{
    overflow-y: scroll;
}
