/// COLORS
$grey: #787B7D;
$black: #45484A;
$lightgrey: #dadcdd;
$lightblue: #F8FBFD;

$orange:#f47721;
$blue:#2354a1;
 

/// SIZES
$navwidth: 95px;

$fontsmall:14px;
$fontbody:17px;
$fontmedium:22px;
$fontlarge:35px;


// FONT WEIGHTS
$bold:500;
$regular:300;

/// MARGINS
$bodymargin: 2em;


/// VARIOUS
$borderradius: .25em;